<div id="main_title">
  <%= link_to image_tag("copper.jpg", {:id => "blog_image"}), root_path %>
  <h1 id="title">クイズで銅を知ろう！</h1>
</div>
<div id="main">
  <p>クイズを解きながら銅について学んでみよう！</p>
  <li><%= link_to "第１章　歴史編（全＃問）", "#" %></li>
  <li><%= link_to "第２章　性質編（全４問）", "#" %></li>
  <li><%= link_to "第３章　合金編（全＃問）", "#" %></li>
  <li><%= link_to "第４章　雑学編（全＃問）", "#" %></li>
</div>
