<!DOCTYPE html>
<html>
  <head>
    <title>クイズで銅を知ろう！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="dropdown">
    	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    	  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    	  <span class="caret"></span>
    	</button>
    	<ul class="dropdown-menu" role="menu">
    		<li role="presentation"><a href="/">ホーム</a></li>
        <li role="presentation" class="divider"></li>
    		<li role="presentation"><a href="/copper/question1">第１章　歴史編（全＃問）</a></li>
        <li role="presentation"><a href="/copper/explanation1">　　　　解説</a></li>
        <li role="presentation" class="divider"></li>
    		<li role="presentation"><a href="/copper/question2">第２章　性質編（全４問）</a></li>
        <li role="presentation"><a href="/copper/explanation2">　　　　解説</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a href="/copper/question3">第３章　合金編（全＃問）</a></li>
        <li role="presentation"><a href="/copper/explanation3">　　　　解説</a></li>
        <li role="presentation" class="divider"></li>
    		<li role="presentation"><a href="/copper/question4">第４章　雑学編（全＃問）</a></li>
        <li role="presentation"><a href="/copper/explanation4">　　　　解説</a></li>
    	</ul>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      $('.dropdown-toggle').dropdown()
    </script>
    </header>

    <div id="main_title">
      <%= link_to image_tag("copper.jpg", {:id => "blog_image"}), root_path %>
      <h1 id="title">クイズで銅を知ろう！</h1>
    </div>

    <%= yield %>
  </body>
</html>
